<section class="vh-100">
       <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100">
                     <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png"
                                   class="img-fluid" alt="Sample image">
                     </div>
                     <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <div class="header-wrapper">
                                   <h1>Sign in</h1>
                            </div>
                            <form [formGroup]="loginForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">

                                   <input formControlName="username" placeholdername="username"
                                          class="form-control mr-sm-2" type="text" placeholder="Username">

                                   <input formControlName="password" name="password" class="form-control mr-sm-2"
                                          type="password" placeholder="Password">

                                   <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
                            </form>
                     </div>
              </div>
       </div>
</section>