input {
  margin-bottom: 10px;
  border: 3px solid #5ba4d5;
  border-radius: 25px;
  color: white !important;
}

select {
  color: white !important;
}

input[type="datetime-local"]{
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 40px ;
  background-color: #222;
}
mat-form-field{
  display: block;
}
