<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                    alt="userProfile">
                <div class="card-body">
                    <h1>{{this.userService.getCurrentUsername()}}</h1>
                    <h3>{{this.userService.getCurrentRole()}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h1>Bought tickets</h1>
            <div class="card mb-2 w-75" *ngFor="let ticket of tickets">
                <div class="card-body">
                    <h2 class="card-title">Ticket for <span class="text-uppercase">{{ticket.media.title}}</span></h2>
                    <h3>Ticket bought on {{ticket.dateOfPurchase | date}}</h3>
                    <hr>
                    <p class="card-text">Screening: {{ticket.screening.startTime | date}}</p>
                    
                </div>
            </div>
        </div>
    </div>