input[type="text"] {
  margin-bottom: 10px;
  height: 3rem;
  border-radius: 10px;
  display: block;
  width: 100%;
  border: none;
  color: aliceblue !important;
}
.date-picker {
  color: aliceblue !important;
  background-color: #222;
  margin-bottom: 10px;
}
.custom-control-label {
  display: inline;
  padding-left: 10px;
}

button,
label {
  display: block;
}

label {
  font-size: 1.2em;
  margin-bottom: 4px;
}
